.main{

height: 100vh;
}
.main{
  background: url('./assets/bgreal.png') no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
background-position: 50%;
background-size: cover;
padding: 0% 0 0%;
position: relative;
}
body{
  background: #11081f;;
}